* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.col {
    float: left;
    border: 1px solid black;
    background-color: #9a9a9a;
    margin: 2%;
}

.section-title {
    float: right;
    width: 150px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0px;
    padding: 2px;
    font-weight: 600;
    text-align: right;
}

.chicken {
    background-color: papayawhip;
}

.beef {
    background-color: brown;
    color: white;
}

.sushi {
    background-color: white;
}

.section-text {
    margin: 0px;
    margin-top: 15px;
    padding: 15px
}

body {
    background-color: #eaa2a2;
}

h1 {
    margin-top: 40px;
    text-align: center;
}

/********** Large devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        width: 29.33%;
        /*width + 2*margin = 33.33%*/
    }
}
  
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 46%;
        /*width + 2*margin = 50%*/
    }
    .col-md-12 {
        width: 96%;
        /*width + 2*margin = 50%*/
    }
}
  
/********** Small devices only **********/
@media (max-width: 767px) {
    .col-sm-12 {
        width: 96%;
        /*width + 2*margin = 50%*/
    }
}